body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Mono', monospace;

}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 2fr 1fr 3rem;
  width: 100vw;
  height: 100vh;
}

/*HEADER*/
.App-header {
  background-color: #a7f3e8;
  grid-column: 2 / -1;
  grid-row: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*MENU*/
.inputPart {
  background-color: #312f2f;
  box-sizing: border-box;
  grid-column: 1 / 1;
  grid-row: 1 / 5;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  padding-bottom: 20%;
  justify-content: space-around;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
  box-shadow: 10px 10px 0px #22181c;
  z-index: 1;
}

button {
  background-color: #ef626c;
  border: 1px solid #ef626c;
  cursor: pointer;
  color: white;
  z-index: inherit;
}

button:hover {
  animation-name: changeColor;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  box-shadow: 5px 5px 0px #22181c;
}

@keyframes changeColor {
  
  0% {
    background-color: #f8525d;
    border: 1px solid #f8525d;

  }

  100% {
    background-color: #fc303e;
    border: 1px solid #fc303e;
  }
}

button, input {
width: 80%;
height: 10%;
border-radius: 15px; 
box-sizing: border-box;
font-family: 'IBM Plex Mono', monospace;
outline: none;
}

input {
  border: 1px solid rgb(248, 237, 239);
  background-color: rgb(248, 237, 239);
  padding-left: 15px;
}

input:focus {
  border: 3px solid #ef626c;
}

/*MAIN CONTENT*/
#heading p {
  color: #ef626c;
  font-weight: bold;
}

.resultPart {
  grid-column: 2 / -1;
  grid-row: 2 / 5;
  background-color: rgb(248, 237, 239);
  overflow: auto;
  padding-top: 50px;
}

.result {
  background-color: rgb(248, 237, 239);
  list-style-type: none;
}

/*FOOTER*/
.footer {
  background-color: #22181c;
  grid-column: 1 / -1;
  grid-row: 5 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #84dccf;
  text-decoration: none;
  font-size: 8px;
}

/*LARGE DEVICES*/
@media (min-width: 1200px) { 

  body {
    font-size: 25px;
  }

  button, input {
    font-size: 20px;
  }

  footer a {
    font-size: 12px;
  }
}


/*SMALL DEVICES*/
@media (max-width: 576px) { 

  .App-header {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
  }

  .inputPart {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  input {
    text-overflow: ellipsis;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }

  button {
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    padding: 1rem;
    margin: 5px auto;
    font-size: 14px;
  }

  button:hover {
    box-shadow: 15px 15px 0px #22181c;
  }

  .resultPart {
    grid-column: 1 / -1;
    grid-row: 3 / 6;
  }

  .footer {
    grid-column: 1 / -1;
    grid-row: 6 / 6;
    height: 40px;
  }
 }